{% extends 'base.html.twig' %}

{% block body %}
    <div>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ipsum nam odio tenetur voluptatibus! Accusamus ad, debitis delectus dolor ducimus error ex maiores modi necessitatibus obcaecati, officiis pariatur quidem vitae.</span><span>Ab, accusantium asperiores cum eligendi in, ipsum iusto maiores nemo praesentium quos reiciendis, repudiandae vel! A commodi deleniti dicta impedit laudantium molestiae numquam odio officiis sequi vitae? A enim, mollitia?</span></p>

    </div>
{% endblock %}

{% block title %}

{% endblock %}

