{% extends 'base.html.twig' %}


{% block title %} Détails de {{ wish.title }} {% endblock %}


{% block body %}
    <h1>{{ wish.title }}</h1>
    <p>{{ wish.description }}</p>
    <p>Auteur : {{ wish.author }}</p>

{% endblock %}

